body{
    color: rgb(205, 64, 64);
    background-color: rgb(240, 197, 197);
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(169, 52, 52);
    padding: 20px;
    font-size: 32;
    color: rgb(215, 19, 48);
}
section {
    background: rgb(243, 111, 133);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
div{
    margin-right: 20px;
}