body{
    color: rgb(205, 64, 64);
    background-color: rgb(240, 197, 197);
    margin: 0pix;
}
header{
    border-bottom: solid 2px rgb(169, 52, 52);
    padding: 20pix;
    font-size: 32;
    color: black;
}
section {
    background: pink;
}